@import "colors";

box.bullet-list box:nth-child(9n+0) label.bullets {
  background: $color07;
}
box.bullet-list box:nth-child(9n+1) label.bullets {
  background: $color08;
}
box.bullet-list box:nth-child(9n+2) label.bullets {
  background: $color09;
}
box:nth-child(9n+3) .bullets {
  background: $color0A;
}
box:nth-child(9n+4) .bullets {
  background: $color0B;
}
box:nth-child(9n+5) .bullets {
  background: $color0C;
}
box:nth-child(9n+6) .bullets {
  background: $color0D;
}
box:nth-child(9n+7) .bullets {
    background: $color0E;
}
box:nth-child(9n+8) .bullets {
    background: $color0F;
}

.bullets {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    min-width: 4em;
    color: $color00;
    font-family: "Swiss911 UCm BT";
    font-size: 24pt;
}

label.reading {
    color: $color04;
    font-family: serif;
    font-family: "Swiss911 UCm BT";
    font-size: 24pt;
}

.message {
    color: $color06;
    background-color: $color01;
    border-radius: 1em;
    font-size: 24pt;
}

window {
    background-color: $color00;
}

.my-button button {
    color: red;
}

.status {
    color: $color05;
}

.circ-good {
    color: $color0A;
}

.circ-okay {
    color: $color09;
}

.circ-bad {
    color: $color08;
}

.circ-icon {
    font-size: 300%;
}
