*~
*.hi
/redditpass.txt
*.hi
/xmonad
/xmonad.o
/init.el
/init.html
/init.elisp
xmonad-personal/.stack-work/
xmonad-personal/Setup
\#*#
/base16/Xresources
/base16/gtk3.ejs
/base16/gtkrc-2.0
/base16/zathurarc
/base16/taffbar.rc
