style "taffybar-default" {
  color["black"] =  "#002b36"
  color["white"] =  "#839496"
  color["yellow"] =  "#b58900"
  color["orange"] =  "#cb4b16"
  color["red"] =  "#dc322f"
  color["magenta"] =  "#d33682"
  color["violet"] =  "#6c71c4"
  color["blue"] =  "#268bd2"
  color["cyan"] =  "#2aa198"
  color["green"] =  "#859900"
  bg[NORMAL]   = @black
  fg[NORMAL]   = @white
  text[NORMAL] = @white
  fg[PRELIGHT] = @green
  bg[PRELIGHT] = @black
  font_name = "Monospace 8.0"
}

style "taffybar-active-window" = "taffybar-default" {
  fg[NORMAL] = @green
  font = "-misc-fixed-medium-r-*-*-10-*-*-*-*-*-*-*"
}

style "taffybar-notification-button" = "taffybar-default" {
  text[NORMAL] = @red
  fg[NORMAL]   = @red
  font = "-misc-fixed-medium-r-*-*-10-*-*-*-*-*-*-*"
}

widget "Taffybar*" style "taffybar-default"
widget "Taffybar*WindowSwitcher*label" style "taffybar-active-window"
widget "*NotificationCloseButton" style "taffybar-notification-button"