style "taffybar-default" {
  color["black"] =  "#000000"
  color["white"] =  "#ffffff"
  color["yellow"] =  "#f8ca12"
  color["orange"] =  "#f29333"
  color["red"] =  "#7a2d00"
  color["magenta"] =  "#b31e8d"
  color["violet"] =  "#eb008a"
  color["blue"] =  "#0e5a94"
  color["cyan"] =  "#00aabb"
  color["green"] =  "#37b349"
  bg[NORMAL]   = @black
  fg[NORMAL]   = @white
  text[NORMAL] = @white
  fg[PRELIGHT] = @green
  bg[PRELIGHT] = @black
  font_name = "Monospace 8.0"
}

style "taffybar-active-window" = "taffybar-default" {
  fg[NORMAL] = @green
  font = "-misc-fixed-medium-r-*-*-10-*-*-*-*-*-*-*"
}

style "taffybar-notification-button" = "taffybar-default" {
  text[NORMAL] = @red
  fg[NORMAL]   = @red
  font = "-misc-fixed-medium-r-*-*-10-*-*-*-*-*-*-*"
}

widget "Taffybar*" style "taffybar-default"
widget "Taffybar*WindowSwitcher*label" style "taffybar-active-window"
widget "*NotificationCloseButton" style "taffybar-notification-button"