/* My personal gnu.org setup
This makes looking at emacs docs easier */


@-moz-document regexp("https://www.gnu.org/software/emacs/manual/.*") {
    html {
	background: var(--base00) !important;
    }
    body {
	color: var(--base05) !important;
	background: var(--base00) !important;
	border-color: var(--base01) !important;
    }
    .header, .example {background: var(--base01) !important;}
    h1, h2, h3, h4 {color: var(--base06) !important;}
    kbd {color: var(--base09) !important;}
    code {color: var(--base0B) !important;}
    samp {color: var(--base0A) !important;}
    a {color: var(--base0D) !important;}
    a:visited {color: var(--base0F) !important;}

}
