/* My personal EmacsWiki setup */

@-moz-document regexp("https://www.emacswiki.org/.*") {
    html {
	background: var(--base00) !important;
    }
    body {
	color: var(--base05) !important;
	background: var(--base00) !important;
	border-color: var(--base01) !important;
    }
    h1, h2, h3, h4 {color: var(--base06) !important;}
    kbd {color: var(--base09) !important;}
    code, pre {
	color: var(--base05) !important;
	border-color: : var(--base02) !important;
    }
    code {background-color: : var(--base00) !important;}
    pre {background-color: : var(--base02) !important;}
    samp {color: var(--base0A) !important;}
    a {color: var(--base0D) !important;}
    a:visited {color: var(--base0F) !important;}
    .color.one {
	background-color: : var(--base01) !important;
	background: var(--base00) !important;
	border-color: : var(--base02) !important;
	color: var(--base05) !important;
    }
    .keyword { color: var(--base0E) !important; }
    .function { color: var(--base0D) !important; }
    .important { color: var(--base0B) !important; }
    .type { color: var(--base0A) !important; }
    .constant { color: var(--base09) !important; }
    .comment { color: var(--base03) !important; }
}
