@-moz-document regexp("https://lobste.rs/.*") {
body, textarea, input, button {color: var(--base05) !important;}

body, textarea {background-color: var(--base00) !important;}

a {color: var(--base0D) !important;}

a.tag {background-color: var(--base01) !important;}
a.tag_is_media {
    color: bar(--base06)!important;
    background-color: var(--base02) !important;
}

li.story div.details span.link a:visited {
	color: var(--base0F) !important;
}

li .byline, div.voters div.score  {
    color: var(--base03) !important;
}

}
