/* My personal gnu.org setup
This makes looking at emacs docs easier */


@-moz-document regexp("https://nixos.org/manual/.*") {
    html {
	color: var(--base05) !important;
	background: var(--base00) !important;
	border-color: var(--base01) !important;
	scrollbar-color: var(--base03) var(--base01) !important;
    }
    a {color: var(--base0D) !important;}
    a:visited {color: var(--base0F) !important;}
    blockquote {
	color: var(--base05) !important;
	background-color: var(--base01) !important;
    }
    code.hljs {
	color: var(--base0E) !important;
	background-color: var(--base01) !important;
    }
    span.hljs-attr { color: var(--base0A) !important; }
    span.hljs-built_in { color: var(--base0E) !important; }
    span.hljs-comment { color: var(--base03) !important; }
    span.hljs-meta { color: var(--base04) !important; }
    span.hljs-name { color: var(--base0D) !important; }
    span.hljs-number { color: var(--base09) !important; }
    span.hljs-string { color: var(--base0B) !important; }
    span.hljs-tag { color: var(--base05) !important; }
    span.hljs-variable { color: var(--base08) !important; }
    nav.sidebar, #menu-bar {
	background-color: : var(--base00) !important;
	border-color: var(--base01) !important;
    }
    .menu-bar a i, .menu-bar .icon-button {color: var(--base0D) !important;}
}
