/* My personal gnu.org setup
This makes looking at emacs docs easier */

@-moz-document url-prefix(about:reader){
    body.dark {
	color: var(--base05) !important;
	background-color: var(--base00) !important;
    }
}
